<!DOCTYPE html>
<header class="navbar-container">
    <nav class="navbar">
        <a href="/" class="nav-branding"><img src="/assets/ts.png"></a>
    </nav>
</header>

<style>
    .navbar{
        margin-top: -1.5vw;
    }

    .navbar-container {
        color: #fff;
        background-color: #000;
    }

    .nav-branding {
        text-decoration: none;
        font-weight: 500;
        color: #fff;
    }

    .nav-branding img{
        margin: 2vw 2vw;
        width: 4vw;
        height: 4vw;
    }

    .navbar {
        min-height: 90px;
        display: flex;
        align-items: center;
        padding: 1.5vw;
        justify-content: space-between;
    }

    .nav-branding {
        font-size: 2rem;
    }

    @media(max-width:768px) {
        .navbar {
            justify-content: space-between;
        }
    }
</style>