<!DOCTYPE html>
<header class="navbar-container">
    <nav class="navbar">
        <a href="/" class="nav-branding"><img src="/assets/ts.png"></a>
        <div class="nav-most">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/invite" class="nav-link">Request Invite</a>
                </li>
                <% if (typeof user != "undefined"){ %>
                <% } else { %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Log In</a>
                </li>
                <li class="nav-item sign-button-mobile">
                    <a href="/register" class="nav-link">Sign Up</a>
                </li>
                <% } %>

            </ul>
            <div class="right-side-nav">
                <% if (typeof user != "undefined"){ %>
                <a href="/dashboard"><img width="28px" style="filter:invert(100%)"
                        src="https://cdn.discordapp.com/attachments/1005877818586038424/1006499498874380359/profile.png"
                        alt="profile"></a>
                <% } else { %>
                <button class="sign-button" onclick="new function(){window.location.href = '/register'};">Sign
                    up</button>
                <% } %>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</header>

<style>
    .nav-most {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sign-button-mobile {
        display: none;
    }
    .navbar{
        margin-top: -1.5vw;
    }
    .sign-button {
        background-color: #00AE40;
        color: white;
        border-radius: 5px;
        width: 140px;
        height: 50px;
        font-size: 1.5vw;
        font-weight: 600;
        cursor: pointer;
        border: none;
        margin-top: 2vw;
    }

    .right-side-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
    }

    .navbar-container {
        color: #fff;
        background-color: #000;
    }

    .nav-item {
        list-style: none;
        color: #fff;
        margin-top: 2vw;
    }

    .nav-link,
    .nav-branding {
        text-decoration: none;
        font-weight: 500;
        color: #fff;
    }

    .nav-branding img{
        margin: 2vw 2vw;
        width: 4vw;
        height: 4vw;
    }

    .navbar {
        min-height: 90px;
        display: flex;
        align-items: center;
        padding: 1.5vw;
        justify-content: space-between;
    }

    .nav-branding {
        font-size: 2rem;
    }

    .nav-menu {
        margin-right: 2.5vw;
        display: flex;
        align-items: center;
        gap: 3vw;
        z-index: 1;
    }

    .nav-link {
        transition: 0.3s ease-out;
        font-size: 1.5vw;
        letter-spacing: 1px;
    }
    .nav-link:after {
        content: "";
        display: block;
        width: 0;
        height: 2.5px;
        transition: all 0.2s ease;
        background: #16e16e;
    }
    .nav-link:hover:after {
        width: 55%;
    }
    .hamburger {
        display: none;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: white;
    }

    @media(max-width:768px) {
        .sign-button {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .sign-button-mobile {
            display: block;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        .nav-menu {
            position: fixed;
            left: -100%;
            top: 90px;
            gap: 0;
            height: 1vh;
            flex-direction: column;
            background-color: #000;
            width: 100%;
            height: calc(100vh - 90px);
            text-align: center;
            transition: 0.3s;
        }

        .nav-item {
            margin: 2vh;
        }

        .nav-menu.active {
            left: 0;
        }

        .navbar {
            justify-content: space-between;
        }
    }
</style>

<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");
    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    })
    document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }))
</script>