<h1>Admin</h1>

<button onclick="getcsv()">Get Excel Of Teams</button>

<button onclick="updateDiscorCommands()">Update Discord Commands</button>

<script>
    function getcsv() {
        window.location.href = "/register/admin/csv";
    }
    function updateDiscorCommands() {
        window.location.href = "/discord/deploy-commands";
    }
</script>