<h1>Landing Page</h1>

<h3>Request Invite</h3>
<button onclick="invite()">Request Invite</button>
<h3>Register School</h3>
<button onclick="register()">Register School</button>
<h3>Edit Participants</h3>
<button onclick="team()">Edit Team</button>
<iframe src="https://discord.com/widget?id=1008409770627182733&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
<script>
    const invite = () => {
        window.location.href = '/invite'
    }
    const register = () => {
        window.location.href = '/register'
    }
    const team = () => {
        window.location.href = '/register/team'
    }
</script>