<h1 style="color: #16e16e;">Landing Page</h1>
<div class="landing">
    <h3>Request Invite</h3>
    <button onclick="invite()">Request Invite</button> <br><br>
    <h3>Register School</h3>
    <button onclick="register()">Register School</button> <br> <br>
    <h3>Edit Participants</h3>
    <button onclick="team()">Edit Team</button> <br> <br>
</div>
<script>
    const invite = () => {
        window.location.href = '/invite'
    }
    const register = () => {
        window.location.href = '/register'
    }
    const team = () => {
        window.location.href = '/register/team'
    }
</script>