<body>
    <div id="reg-container" class="reg-container">
        <h1 class="title">Senior Events Individual Register</h1>
        <div class="reg-form">
            <div class="reg-form-div-container">
                <div class="reg-form-div">
                    <p for="name">Name</p>
                    <input id="name" type="text" name="name" placeholder="John Doe">
                </div>
                <div class="reg-form-div">
                    <p for="dob">Date Of Birth</p>
                    <input id="dob" type="date" name="dob">
                </div>
            </div>
            <div class="reg-form-div-container">
                <div class="reg-form-div">
                    <p for="email">Email</p>
                    <input type="text" id="email" name="email" placeholder="john.doe@gmail.com">
                </div>
                <div class="reg-form-div">
                    <p for="phone">Phone Number</p>
                    <input type="number" id="phone" name="phone" placeholder="9889889889">
                </div>
            </div>
            <div class="reg-form-div-container">
                <div class="reg-form-div">
                    <p for="grade">Class/Grade</p>
                    <input type="number" id="grade" name="grade" placeholder="9th">
                </div>
                <div class="reg-form-div">
                    <p for="schname">School Name</p>
                    <input type="text" id="schname" name="schname" placeholder="Amity International School, Sector 46">
                </div>
            </div>
        </div>
        <p>Note: All team members must register independantly through this form for any multi participant event.
        </p>
        <div class="inpt-sub-div-1">
            <button class="inpt-sub" onClick="submit()">Continue</button>
        </div>
    </div>
    <div id="reg-container-2" class="reg-container">
        <h1 class="title">Choose Events</h1>
        <div class="reg-form-2">
            <% for (i in events){ %>
            <div class="reg-form-div-container">
                <% for (a in events[i]) {%>
                <button style="color: rgb(255, 255, 255); border: #2C2A2A solid 3px;" class="event-but"
                    onclick="select('<%= events[i][a] %>')" id="<%= events[i][a] %>"><%= events[i][a] %></button>
                <% } %>
            </div>
            <% } %>
        </div>
        <div class="inpt-sub-div">
            <button id="regis" class="inpt-sub" onClick="register()">Submit</button>
        </div>

    </div>
    <div id="thank-you" class="reg-container">
        <h1 class="title">Thank You</h1>
        <div class="reg-form-2">
            <p class="thank-you-p">Your registration is complete. You have been emailed the details to proceed further.
            </p>
        </div>
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

    .reg-form-div-container-parent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .reg-form-div-container-parent input {
        width: 20px !important;
        color: #16e16e;
    }

    .event-but {
        background-color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 1vw;
        cursor: pointer;
        border-radius: 10px;
        width: 20vw;
        font-family: 'Outfit', sans-serif;
    }

    #reg-container {
        margin-bottom: 50px;
    }

    #reg-container-2 {
        display: none;
    }

    #thank-you {
        display: none;
    }

    .thank-you-p {
        font-size: 1.5rem;
        font-family: 'Outfit', sans-serif;
        color: #fff;
    }

    .nav img {
        width: 70px;
        margin: 10px;
    }

    .title {
        color: #16e16e;
        width: 80vw;
        font-size: 4rem;
        font-weight: 600;
        font-family: 'Outfit', sans-serif;
    }

    body {
        background-color: #000;
        font-family: 'Outfit', sans-serif;
    }

    .inpt-sub-div-1 {
        width: 60vw;
        display: flex;
        justify-content: flex-end;
    }

    .inpt-sub-div {
        width: 80vw;
        display: flex;
        justify-content: flex-end;
    }

    .inpt-sub {
        margin-top: 15px;
        width: 18vw !important;
        padding-top: 0.8vw;
        padding-bottom: 0.8vw;
        background-color: #16e16e;
        font-size: 1.5rem;
        border-radius: 9px;
        font-family: 'Outfit', sans-serif;
        cursor: pointer;
        font-weight: 400;
    }

    .reg-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .reg-form p {
        width: 40vw;
        color: #16e16e;
        font-size: 1.5rem;
        font-family: 'Outfit', sans-serif;
    }

    .reg-form-div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1vw;
        width: 40vw;
    }

    .reg-form-div-container {
        display: flex;
        width: 80vw;
        justify-content: space-between;
        font-family: 'Outfit', sans-serif;
    }

    .reg-form input {
        height: 40px;
        width: 30vw;
        border-radius: 7px;
        padding: 1.3vw;
        background-color: #000;
        border: #2C2A2A solid 2px;
        font-size: 1rem;
        color: #fff;
        font-family: 'Outfit', sans-serif;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    .reg-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 1020px) {
        .event-but {
            width: 80vw;
            font-size: 1.6rem;
        }

        .title {
            font-size: 2rem;
        }

        .nav img {
            width: 100px;
        }

        .reg-form p {
            font-size: 1.5rem;
            margin: 0;
            margin-bottom: 5px;
            width: 90vw;
        }

        .reg-form-div-container {
            flex-direction: column;
        }

        .reg-form input {
            width: 80vw;
            height: 60px;
            font-size: 1.3rem;
        }

        .inpt-sub {
            width: 80vw !important;
            height: 70px;
            font-size: 1.7rem;
        }

        .inpt-sub-div,
        .inpt-sub-div-1 {
            width: 80vw;
            margin-bottom: 50px;
        }

        .reg-form-div {
            margin-bottom: 5vw;
        }

        .thank-you-p {
            font-size: 1.6rem;
            text-align: center;
        }

        .reg-form-div-container-parent input {
            width: 100px !important;
        }

        .reg-form-div-container-parent label {
            font-size: 2.3rem !important;
            margin-left: 35px;
        }

        .reg-form-div-container-parent {
            width: 80vw;
            margin-bottom: 50px;
        }
    }
</style>

<script>
    var selected = [];
    var notyf = new Notyf();

    function submit() {
        var name = window.document.getElementById("name").value;
        var dob = window.document.getElementById("dob").value;
        var email = window.document.getElementById("email").value;
        var phone = window.document.getElementById("phone").value;
        var grade = window.document.getElementById("grade").value;
        var schname = window.document.getElementById("schname").value;
        if (!(name && dob && email && phone && grade && schname)) {
            notyf.error("Please fill all the fields");
            return;
        }
        if (new Date(dob).getFullYear() < 2000) {
            notyf.error("Please enter a valid date of birth");
            return;
        }
        if (phone.length != 10) {
            notyf.error("Please enter a valid phone number");
            return;
        }
        // email regex
        var re =
            /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!re.test(email)) {
            notyf.error("Please enter a valid email");
            return;
        }
        if (grade < 8 || grade > 12) {
            notyf.error("You must be in 8th to 12th grade to participate");
            return;
        }
        window.document.getElementById("reg-container").style.display = "none";
        window.document.getElementById("reg-container-2").style.display = "flex";
    }


    function select(string) {
        var x = document.getElementById(string);
        if (x.style.color == "rgb(255, 255, 255)") {
            x.style.border = "3px solid #16e16e";
            x.style.color = "#16e16e";
            selected.push(string);
        } else {
            x.style.color = "rgb(255, 255, 255)";
            x.style.border = "3px solid #2C2A2A"
            var index = selected.indexOf(string);
            if (index > -1) {
                selected.splice(index, 1);
            }
        }
        console.log(selected)
    }

    async function register() {
        var name = window.document.getElementById("name").value;
        var dob = window.document.getElementById("dob").value;
        var email = window.document.getElementById("email").value;
        var phone = window.document.getElementById("phone").value;
        var grade = window.document.getElementById("grade").value;
        var schname = window.document.getElementById("schname").value;
        if (selected.length == 0) {
            notyf.error("Please select atleast one event");
            return;
        }
        var body = JSON.stringify({
            name: name,
            dob: dob,
            email1: email,
            phone: phone,
            grade: grade,
            schname: schname,
            events: selected
        });
        window.document.getElementById('regis').disabled = true;
        await fetch("/register/indireg", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: body
        }).then(async (response) => {
            response = await response.json()
            if (response.status == "success") {
                window.document.getElementById("reg-container-2").style.display = "none";
                window.document.getElementById("thank-you").style.display = "flex";
            } else {
                notyf.error(response.message);
                window.document.getElementById('regis').disabled = false;
            }
        });
    }
</script>