<div class="invite">
    <form id="inviteForm" class="inviteForm">
        <h1>Request <span style="color: #16e16e;">Invite</span></h1>
        <br>
        <h2>School Name</h2>

        <input name="school_name" id="school_name" type="text" required autocomplete="off"
            placeholder="Amity International School, Sector-46, Gurgraon"> <br>

        <h2>School Email</h2>

        <div id="emailList">
            <input name="school_email" id="school_email" type="email" required autocomplete="off"
                placeholder="aisg46@amity.edu">
        </div>
        <br>
        <div class="buttons-div">
            <button id="addEmailBtn">Add Email</button>
            <button id="inviteSubmitBtn">Request Invite</button>
        </div>
    </form>
</div>

<style>
    .inviteForm {
        display: flex;
        flex-direction: column;
        color: #eee;
        margin-top: -2.5vw;
        height: 80vh;
        overflow-y: scroll;
        min-height: 80vh;

    }

    .inviteForm {
        margin-top: -2vw;
    }

    .inviteForm h1 {
        font-size: 3.5vw;
        font-weight: 800;
        text-align: left;
        letter-spacing: 1.5px;
    }

    .inviteForm h2 {
        letter-spacing: 1.45px;
        text-align: left;
    }

    .invite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
    }

    #emailList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    input[type=text],
    input[type=email] {
        width: 40vw;
        height: 3vw;
        border: none;
        background-color: transparent;
        color: #fff;
        border: 2px solid rgba(255, 255, 255, 0.15);
        font-size: 1.3vw;
        font-weight: 500;
        margin-top: .5vw;
        border-radius: 5px;
        margin-bottom: .5vw;
        padding: 1.5vw;
        transition: all 0.5s ease;
        letter-spacing: 1px;
    }

    input:focus {
        outline: none;
        border: 2px solid #16e16e;
    }

    .removable_email {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .buttons-div {
        width: 100%;
    }

    .remove_button {
        background-color: transparent !important;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        width: 2.5vw !important;
        margin-left: 1rem;
        margin-top: 1.75rem;
    }


    @media(max-width:768px) {
        .inviteForm {
            width: 90vw;
        }

        .inviteForm input {
            width: 80vw;
            font-size: 1rem;
            padding-left: 10px;
        }

        .inviteForm h1 {
            font-size: 2rem;
        }

        .inviteForm h3 {
            font-size: 1.2rem;
        }

        #addEmailBtn,
        #inviteSubmitBtn {
            font-size: 1rem;
        }

        .buttons-div {
            width: 80vw;
        }
    }

    #addEmailBtn,
    #inviteSubmitBtn {
        background-color: #16e16e;
        color: #111;
        border-radius: 5px;
        font-size: 1.35vw;
        font-weight: 400;
        min-height: 3.5vw;
        cursor: pointer;
        width: 100%;
        border: none;
        margin-top: .5vw;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    .removable_email {
        margin-top: 1vw;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
    // var notyf = new Notyf();
    var emails = 0; // stores number of emails user added

    //email validator
    function ValidateEmail(email) {
        const re =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    //send emails to server
    document.getElementById("inviteSubmitBtn").addEventListener("click", (e) => {
        e.preventDefault();
        const schName = document.getElementById("school_name");
        const schEmails = document.querySelectorAll("#emailList input");
        let emailList = [];

        for (let i = 0; i < schEmails.length; i++) {
            if (schEmails[i].value == "") {
                continue
            } else if (!ValidateEmail(schEmails[i].value)) {
                //notyf.error("Please enter a valid email in all fields");
                return;
            } else {
                emailList.push(schEmails[i].value);
            }
        }

        if (emailList.length == emails + 1) {
            fetch("/invite", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    schName: schName.value,
                    schEmails: emailList
                }),
            }).then(async (res) => {
                // if (res.status === 200) {
                //  //   notyf.success("Invite Sent");
                // } else {
                //     notyf.error("some error occurred");
                // }
                var first = await res
                console.log(first)
            });
        }
    });

    // function to add email input field
    document.getElementById("addEmailBtn").addEventListener("click", (e) => {
        e.preventDefault();
        const emailList = document.getElementById("emailList");
        //convert html to dom node element
        const input = document.createRange().createContextualFragment(
            `<div class="removable_email" id="removable_email${emails + 1}">
                <input name="school_email" id="school_email" type="email" required autocomplete="off" placeholder="aisg46@amity.edu">
                <button class="remove_button" id="school_email_button_${emails + 1}" onclick="email_remove('school_email_button_${emails + 1}')">
                    <img src="/assets/close.svg" style="transform: scale(0.7);">
                </button>
            <div>`);
        emails++;
        console.log(input)
        emailList.appendChild(input);
    });


    function email_remove(id) {
        console.log(id);
        const email_div = document.getElementById(`removable_email${id.split("_")[3]}`);
        email_div.remove();
        return false;
    }
</script>