<div class="invite">
    <h1 style="color: #16e16e; font-size: 3vw;">Request an Invite</h1>

    <form id="inviteForm" class="inviteForm">

        <h2>School Details</h2>

        <input name="school_name" id="school_name" type="text" required autocomplete="off" placeholder="Amity International School, Sector-46, Gurgraon"> <br><br>

        <input name="school_email" id="school_email" type="email" required autocomplete="off" placeholder="aisg46@amity.edu"> <br><br>

        <h2>Club Details</h2>
        <input name="club_name" id="club_name" type="text" autocomplete="off" placeholder="Tech Syndicate"> <br><br>
        <input name="club_email" id="club_email" type="email" autocomplete="off" placeholder="cyberamity46@gmail.com"> <br><br>
        <button id="inviteBtn">Request Invite</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="./js/invite.js"></script>