<div class="invite">


    <h1 style="color: #16e16e; font-size: 3vw; text-align: center;">Request an Invite</h1>
    <br><br>
    <form id="inviteForm" class="inviteForm">
        <h2>School Name</h2>

        <input name="school_name" id="school_name" type="text" required autocomplete="off" placeholder="Amity International School, Sector-46, Gurgraon"> <br>

        <h2>School Email(s)</h2>

        <div id="emailList">
            <input name="school_email" id="school_email" type="email" required autocomplete="off" placeholder="aisg46@amity.edu">
        </div>

        <button id="addEmailBtn">Add Email</button> <br>
        <button id="inviteSubmitBtn">Request Invite</button>
    </form>
</div>


<script>
    var notyf = new Notyf();
    var emails = 0; // stores number of emails user added

    //email validator
    function ValidateEmail(email) {
        const re =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }



    //send emails to server
    document.getElementById("inviteSubmitBtn").addEventListener("click", (e) => {
        e.preventDefault();
        const schName = document.getElementById("school_name");
        const schEmails = document.querySelectorAll("#emailList input");
        let emailList = [];
        if (schEmails[0].value == "") {
            notyf.error("Please enter a valid email address");
            return;
        }
        for (let i = 0; i < schEmails.length; i++) {
            if (schEmails[i].value == "") {
                continue
            } else if (!ValidateEmail(schEmails[i].value)) {
                notyf.error("Please enter a valid email in all fields");
                return;
            } else {
                emailList.push(schEmails[i].value);
            }
        }

        if (emailList.length == emails + 1) {
            fetch("/invite", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    schName: schName.value,
                    schEmails: emailList
                }),
            }).then(async (res) => {
                if (res.status === 200) {
                    notyf.success("Invite Sent");
                } else {
                    notyf.error("some error occurred");
                }
            });
        }
    });

    // function to add email input field
    document.getElementById("addEmailBtn").addEventListener("click", (e) => {
        e.preventDefault();
        const emailList = document.getElementById("emailList");
        //convert html to dom node element
        const input = document.createRange().createContextualFragment(`<div class="removable_email"><input name="school_email"
        id="school_email${emails+1}" type="email" required autocomplete="off" placeholder="aisg46@amity.edu">
   </div>`);
        emails++;
        console.log(input)
        emailList.appendChild(input);
    });

    document.addEventListener("click", (e) => {
        if (e.target.id.includes("school_email_button")) {
            const id = e.target.id.split("_")[3];
            console.log(id);
            const email = document.getElementById(`school_email${id}`);
            email.remove();
            e.target.remove();
        }
    });
</script>