<div class="invite">

    <form id="inviteForm" class="inviteForm">
        <h1>Request Invite(s)</h1>
        <br><br>
        <h2>School Name</h2>

        <input name="school_name" id="school_name" type="text" required autocomplete="off"
            placeholder="Amity International School, Sector-46, Gurgraon"> <br>

        <h2>School Email(s)</h2>

        <div id="emailList">
            <input name="school_email" id="school_email" type="email" required autocomplete="off"
                placeholder="aisg46@amity.edu">
        </div>

        <button id="addEmailBtn">Add Email</button>
        <button id="inviteSubmitBtn">Request Invite</button>
    </form>
</div>

<style>
    .inviteForm {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 500px;
    }

    .inviteForm h2 {
        color: #16e16e;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .inviteForm h1{
        color: #16e16e;
        font-size: 3rem;
    }

    .invite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
    }

    #emailList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    input {
        width: 450px;
        height: 3rem;
        border: none;
        border-bottom: 1px solid #16e16e;
        background-color: transparent;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .removable_email {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .remove_button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 1rem;
    }
</style>

<script>
    var notyf = new Notyf();
    var emails = 0; // stores number of emails user added

    //email validator
    function ValidateEmail(email) {
        const re =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }



    //send emails to server
    document.getElementById("inviteSubmitBtn").addEventListener("click", (e) => {
        e.preventDefault();
        const schName = document.getElementById("school_name");
        const schEmails = document.querySelectorAll("#emailList input");
        let emailList = [];
        for (let i = 0; i < schEmails.length; i++) {
            if (schEmails[i].value == "") {
                notyf.error("Please fill all the fields");
                return;
            } else if (!ValidateEmail(schEmails[i].value)) {
                notyf.error("Please enter a valid email in all fields");
                return;
            } else {
                emailList.push(schEmails[i].value);
            }
        }

        if (emailList.length == emails + 1) {
            fetch("/invite", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    schName: schName.value,
                    schEmails: emailList
                }),
            }).then(async (res) => {
                if (res.status === 200) {
                    notyf.success("Invite Sent");
                } else {
                    notyf.error("some error occurred");
                }
            });
        }
    });

    // function to add email input field
    document.getElementById("addEmailBtn").addEventListener("click", (e) => {
        e.preventDefault();
        const emailList = document.getElementById("emailList");
        //convert html to dom node element
        const input = document.createRange().createContextualFragment(`<div class="removable_email"><input name="school_email"
        id="school_email${emails+1}" type="email" required autocomplete="off" placeholder="aisg46@amity.edu">
    <button class="remove_button" id="school_email_button_${emails+1}">X</button><div>`);
        emails++;
        console.log(input)
        emailList.appendChild(input);
    });

    document.addEventListener("click", (e) => {
        if (e.target.id.includes("school_email_button")) {
            const id = e.target.id.split("_")[3];
            console.log(id);
            const email = document.getElementById(`school_email${id}`);
            email.remove();
            e.target.remove();
        }
    });
</script>