<div class="team">

    <h1 style="color: #16e16e">Edit Team</h1>
    <form class="teamForm">
        <h3>Creative</h3>
        <input name="creative_participant1" id="creative_participant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <input name="creative_participant2" id="creative_participant2" type="text" required autocomplete="off" placeholder="Participant 2 Name"> <br><br>
        <input name="creative_participant3" id="creative_participant3" type="text" required autocomplete="off" placeholder="Participant 3 Name"> <br><br>
        <input name="creative_participant4" id="creative_participant4" type="text" required autocomplete="off" placeholder="Participant 4 Name"> <br><br>
        <input name="creative_participant5" id="creative_participant5" type="text" required autocomplete="off" placeholder="Participant 5 Name"> <br><br>
        <input name="creative_participant6" id="creative_participant6" type="text" required autocomplete="off" placeholder="Participant 6 Name"> <br><br>
        <h4>Crossword</h4>
        <input name="crossparticipant1" id="crossparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <input name="crossparticipant2" id="crossparticipant2" type="text" required autocomplete="off" placeholder="Participant 2 Name"> <br><br>
        <h4>Group Discussion</h4>
        <input name="gdparticipant1" id="gdparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <h4>Surprise</h4>
        <input name="gdparticipant1" id="gdparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <input name="gdparticipant2" id="gdparticipant2" type="text" required autocomplete="off" placeholder="Participant 2 Name"> <br><br>
        <h4>Programming</h4>
        <input name="progparticipant1" id="progparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <input name="progparticipant2" id="progparticipant2" type="text" required autocomplete="off" placeholder="Participant 2 Name"> <br><br>
        <h4>Film Making</h4>
        <input name="filmparticipant1" id="filmparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <input name="filmparticipant2" id="filmparticipant2" type="text" required autocomplete="off" placeholder="Participant 2 Name"> <br><br>
        <input name="filmparticipant3" id="filmparticipant3" type="text" required autocomplete="off" placeholder="Participant 3 Name"> <br><br>
        <input name="filmparticipant4" id="filmparticipant4" type="text" required autocomplete="off" placeholder="Participant 4 Name"> <br><br>
        <h4>Gaming</h4>
        <input name="gameparticipant1" id="gameparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <input name="gameparticipant2" id="gameparticipant2" type="text" required autocomplete="off" placeholder="Participant 2 Name"> <br><br>
        <h4>Quiz</h4>
        <input name="quizparticipant1" id="quizparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <h4>Robotics</h4>
        <input name="roboticsparticipant1" id="roboticsparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <input name="roboticsparticipant2" id="roboticsparticipant2" type="text" required autocomplete="off" placeholder="Participant 2 Name"> <br><br>
        <input name="roboticsparticipant3" id="roboticsparticipant3" type="text" required autocomplete="off" placeholder="Participant 3 Name"> <br><br>
        <h4>Photography</h4>
        <input name="photoparticipant1" id="photoparticipant1" type="text" required autocomplete="off" placeholder="Participant 1 Name"> <br><br>
        <button id="teamBtn">Modify Team</button>
    </form>



</div>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="./js/team.js"></script>