<div class="team">
    <div class="teamLogin">
        <form class="schoolLoginForm" autocomplete="off">
            <h1 style="color:#16e16e;">Login</h1>
            <h2>
                Email
            </h2>
            <input name="email" id="email" type="email" required autocomplete="OFF" placeholder="School Email"> <br><br>
            <h2>
                Password
            </h2>
            <input name="password" id="password" type="password" required autocomplete="OFF" placeholder="Password"> <br><br>
            <button id="schLoginBtn">Login </button>
        </form>
    </div>
</div>
<style>
    h2{
        letter-spacing: 1.45px;
        text-align: left;
    }
    .team {
        display: flex;
        flex-direction: column;
        color: #eee;
        margin-top: -5vw;
        height: 80vh;
        min-height: 80vh;
    }
    .teamLogin
        {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
    }
    .teamLogin button{
        background-color: #16e16e;
        color: #111;
        border-radius: 5px;
        font-size: 1.35vw;
        font-weight: 400;
        min-height: 3.5vw ;
        cursor: pointer;
        width: 100%;
        border: none;
        margin-top: .5vw;
    }
    input[type=password],
    input[type=email]{
        width: 40vw;
        height: 3vw;
        border: none;
        background-color: transparent;
        color: #fff;
        border: 2px solid rgba(255, 255, 255, 0.15);
        font-size: 1.3vw;
        font-weight: 500;
        margin-top: .5vw;
        border-radius: 5px;
        margin-bottom: .5vw;
        padding: 1.5vw;
        transition: all 0.5s ease;
        letter-spacing: 1px;
    }
    input:focus{
        outline: none;
        border: 2px solid #16e16e;
    }
    h1{
        font-size: 3.5vw;
        font-weight: 800;
        text-align: left;
        letter-spacing: 1.5px;
    }
    @media(max-width:768px) {
        button{
            width: 80vw !important;
            margin-top: 5vw;
            font-size: 3.5vw !important;
            margin-top: 2.5vw !important;
            margin-left: .5vw !important;
            padding: 10px !important;
            height: 8.5vw !important;
        }
        .team{
            margin-left: 2.5vw;
        }
        input {
            width: 80vw !important;
            height: 5vw !important;
            font-size: 3.5vw !important;
            padding: 20px !important;
            margin-top: 5vw !important;
        }
        h1{
            text-align: left !important;
            font-size: 10vw !important;
            margin-bottom: 5vw;
        }
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
    var notyf = new Notyf()
    document.querySelector("#schLoginBtn").addEventListener("click", (e) => {
        e.preventDefault()
        var userId = document.querySelector("#email").value
        var password = document.querySelector("#password").value
        const data = {
            userId,
            password
        }
        fetch('/register/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(async (res) => {
                res = await res.json()
                console.log(res);
                if (res.msg == "success") {
                    window.location.reload();
                } else {
                    notyf.error(res.msg);
                }
            })
            .catch(err => {
                console.log(err);
                notyf.error('Some Error occured')
            })
    })
</script>
