@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Outfit', sans-serif;
}
body{
    background: black;
    color: white;
}



.invite {
    text-align: center;
}
.inviteForm {
    margin-top: 1vw;
    
}
.inviteForm input {
    width: 30vw;
    padding: 1vw;
    margin-top: 1.3vw;
    margin-bottom: 1.3vw;
    background-color: #000;
    border: #383737 solid 1px;
    /* border-bottom: 2px solid #eee; */
    font-size: 1vw;
    color: #eee;
    border-radius: 2vw;
    transition: all 0.5s ease; 
    font-size: 1.25vw;
}

.inviteForm input:focus {
    outline: none;
    border-bottom: 2px solid #16e16e;
}
.inviteForm h2 {
    font-size: 2vw;
}

.inviteForm button {
    background-color: #16e16e;
    color: #000;
    border: none;
    width: 16vw;
    height: 3vw;
    border-radius: 2vw;
    font-size: 1.25vw;
    margin-bottom: 2vw;
}
#emailList input {
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
}
#addEmailBtn {
    margin-top: 1.3vw;
}
#inviteSubmitBtn {
    margin-top: 2vw;
    width: 22vw;
}
/* Register School */
.reg{
    padding-bottom: 5vw;
}
.reg h1 {
    color: #16e16e;
    font-size: 3vw;   
    margin-right: 11.5vw;  
    margin-bottom: 2vw;
    text-align: center;
}

.reg input {
    width: 30vw;
    padding: 0.9vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    background-color: #000;
    border: 2px solid rgba(255, 255, 255, 0.15);
    font-size: 1vw;
    color: #eee;
    border-radius: 5px;
    transition: all 0.5s ease; 
    font-size: 1.25vw;
}

.reg input:focus {
    outline: none;
    border: 2px solid #16e16e;
}
.reg h3 {
    font-size: 2vw;
}
.reg {
    margin-left: 5vw;
}
.col-1{
    float: left;
    width: 50%;
    
}
.col-2 {
    float: right;
    width: 50%;
    
}
.reg button {
    background-color: #16e16e;
    color: #111;
    border-radius: 5px;
    font-size: 1.35vw;
    font-weight: 400;
    min-height: 3.5vw ;
    cursor: pointer;
    width: 30vw;
    border: none;
    margin-top: 2.5vw;
}
.reg button:focus{
    outline: none;
}

@media screen and (max-width: 600px) {
    .col-1, .col-2 {
        width: 100%;
    }
    .reg {
        margin-left: 0;
        text-align: center;
        
    }
    .reg h1 {
        margin-right: 0;
    }
    .reg button {
        margin-left: 0;
    }
    .reg h3 {
        margin: 0;
        
    }
}